@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }
    to {
        transform: scale(var(--growth-to));
    }
}

/* Modal */
.modalLogin {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9;
}
.modalRegister {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9;
}

.modal_overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    animation: fadeIn linear 0.2s;
}

.modal__body-formLogin {
    --growth-from: 0.7;
    --growth-to: 1;
    margin: auto;
    position: relative;
    z-index: 1;
    animation: growth linear 0.2s;
}

.modal__body-formRegister {
    --growth-from: 0.7;
    --growth-to: 1;
    margin: auto;
    position: relative;
    z-index: 1;
    animation: growth linear 0.2s;
}

.checkbox_input_formLogin:checked ~ .modalLogin {
    display: flex;
}

.checkbox_input_formRegister:checked ~ .modalRegister {
    display: flex;
}
// ==========
/* Authen form */
.auth-form {
    width: 500px;
    border-radius: 5px;
    overflow: hidden;
    background-color: var(--white-color);
}

.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 10px;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form_switch-btn {
    font-size: 1.6rem;
    color: var(--primary-color);
    cursor: pointer;
}

.auth-form__socials {
    background-color: #f5f5f5;
    padding: 12px 36px;
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
}

.auth-form__socials-icon {
    font-size: 1.8rem;
}

.auth-form__socials--facebook {
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    height: 30px;
    min-width: 100px;
    padding: 0 8px;
    outline: none;
    border: none;
    border-radius: 2px;
    background-color: #3a5a98;
    color: var(--white-color);
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 9%);
    cursor: pointer;
}

.auth-form__socials--facebook .auth-form__socials-icon {
    color: var(--white-color);
}

.auth-form__socials-title {
    margin: 0 36px;
}

.auth-form__socials--google {
    background-color: var(--white-color) !important;
    color: #666 !important;
}
