// /* Authen form */
// .auth-form {
//     width: 500px;
//     border-radius: 5px;
//     overflow: hidden;
//     background-color: var(--white-color);
// }

// .auth-form__container {
//     padding: 0 32px;
// }

// .auth-form__header {
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     padding: 0 12px;
//     margin-top: 10px;
// }

// .auth-form__heading {
//     font-size: 2.2rem;
//     font-weight: 400;
//     color: var(--text-color);
// }

// .auth-form_switch-btn {
//     font-size: 1.6rem;
//     color: var(--primary-color);
//     cursor: pointer;
// }

.auth-form__form {
    /* margin-top: 16px; */
}

.auth-form__group {
    position: relative;

    &.invalid {
        .auth-form__input {
            background: #fff6f7;
            border-color: var(--primary-color) !important;
            box-shadow: 0 0 4px rgb(0 0 0 / 14%);
        }
        .error-message {
            color: red;
            font-size: 1.2rem;
            line-height: 1rem;
            position: absolute;
            left: 0;
            top: calc(100% + 3px);
        }
    }
    .auth-form__input {
        width: 100%;
        height: 40px;
        margin-top: 22px;
        padding: 0 12px;
        font-size: 1.4rem;
        border-radius: 2px;
        border: 1px solid var(--border-img-color);
        outline: none;

        &:focus {
            border: 1px solid #6d5c5c;
        }
    }

    // .error-message {
    //     color: red;
    //     font-size: 1.2rem;
    //     line-height: 1rem;
    //     position: absolute;
    //     top: calc(100% + 2px);
    //     left: 0;
    // }
}

.auth-form__aside {
    margin-top: 18px;
}

.auth-form__policy-text {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
}

.auth-form__text-link {
    color: var(--primary-color);
    text-decoration: none;
}

.auth-form__controls {
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}

.auth-form__controls-back {
    margin-right: 8px;
}

// .auth-form__socials {
//     background-color: #f5f5f5;
//     padding: 12px 36px;
//     margin-top: 24px;
//     display: flex;
//     justify-content: space-between;
//     margin-top: 22px;
// }

// .auth-form__socials-icon {
//     font-size: 1.8rem;
// }

// .auth-form__socials--facebook {
//     background-color: #3a5a98 !important;
//     color: var(--white-color) !important;
// }

// .auth-form__socials--facebook .auth-form__socials-icon {
//     color: var(--white-color);
// }

// .auth-form__socials-title {
//     margin: 0 36px;
// }

// .auth-form__socials--google {
//     background-color: var(--white-color) !important;
//     color: #666 !important;
// }

/* Authen form login */
.auth-form__help {
    display: flex;
    justify-content: flex-end;
}

.auth-form__link {
    text-decoration: none;
    font-size: 1.4rem;
    color: #939393;
}

.auth-form__help--separate {
    display: block;
    position: relative;
    top: -4px;
    height: 22px;
    margin: 0 16px;
    border-left: 1px solid var(--border-img-color);
}

.auth-form__help-forgot {
    color: var(--primary-color);
}
