.star-list {
    position: relative;
    .star {
        display: flex;
        &.star--fill {
            position: absolute;
            top: 0;
            overflow: hidden;
            white-space: nowrap;
        }
    }
}
