.container {
    background-color: var(--white-color);
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 13%);
    padding: 0 30px;
}

// header
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 19px 0;
}

.header-title {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.8rem;
    color: var(--text-color);
    margin: 0;
}

.header-button-icon {
    height: 1.8rem;
    margin-right: 12px;
}

// body
.body {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-top: 30px;
    border-top: 1px solid var(--border-btn-color);
}

.form-group {
    display: flex;
    justify-content: flex-end;
    // align-items: center;
    margin-bottom: 32px;
}

.form-label {
    font-size: 1.4rem;
    line-height: 1.6rem;
    font-weight: 300;
    color: rgb(85 85 85 / 80%);
    margin-top: 11px;
}

.form-content {
    position: relative;
    width: 460px;
    padding: 0 0 0 20px;
}

.form-input {
    font-size: 1.4rem;
    line-height: 1.6rem;
    font-weight: 400;
    color: var(--text-color);
}

.form-control {
    width: 440px;
    height: 40px;
    padding: 0 0 0px 12px;
    margin-bottom: 5px;
    font-size: 1.4rem;
    border-radius: 2px;
    border: 1px solid var(--border-btn-color);
    outline: none;
}

.form-control--error {
    background: #fff6f7;
    border-color: var(--primary-color) !important;
    box-shadow: 0 0 4px rgb(0 0 0 / 14%);
}

.form-message {
    font-size: 1.3rem;
    line-height: 1.4rem;
    height: 1.4rem;
    font-weight: 400;
    color: red;
    position: absolute;
}

.form-control:focus {
    border-color: var(--black-color);
}

.btn-save {
    min-width: 100px !important;
}

.btn-save--disable {
    color: var(--white-color) !important;
    background-color: #facac0 !important;
    filter: brightness(100%) !important;
}
